---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -4

# Braces
BreakBeforeBraces: Attach

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true

# Includes
SortIncludes: true
IncludeBlocks: Regroup

# Pointers & references
PointerAlignment: Left
ReferenceAlignment: Left

# Spacing
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

# Short forms
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Constructor initializers
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

# Template
AlwaysBreakTemplateDeclarations: Yes
